<script>
  //import GameObject from "../utils/GameObjects/GameObject";
  import renderer from '../utils/Engine/Renderer';

  renderer.onFrameChange(() => {
    console.log(renderer.fps);
  });
  
  renderer.startGame();
  renderer.stopGame();

</script>

<div id="map"></div>
