<script>

  type Objeto1 = { pepe: string }

  const objeto: Objeto1 = {
    pepe: ''
  }


  window.alert('nope')
</script>

<h1 id="welcome">Hola mundo</h1>

<style>
  #welcome {
    color: orange;
  }
</style>