<script>
  import PlayableCharacter from "../utils/Engine/Character/PlayableCharacter";
  import MapManager from "../utils/Engine/MapManager/MapManager";
  import MapDataLoader from "../utils/Engine/MapManager/MapDataLoader";
  import setCharacterControls from "../utils/game/controls/character";
  import { Config } from "../utils/Engine/constants";

  const map = await MapDataLoader.getMap("map");
  const mapManager = new MapManager("map-container", map);

  const character = new PlayableCharacter(
    mapManager._element,
    {
      x: 90,
      y: 140,
    },
    {
      health: 100,
      strength: 100,
      intelligence: 100,
      walkingSpeed: 40,
      runningSpeed: 80,
    }
  );

  character.setDebugMode(Config.SHOW_PLAYER_COLLISION, "Player");

  setCharacterControls(character);

  mapManager.camera.follow(character);
</script>

<div id="map-container"></div>
