<script>
  import PlayableCharacter from "../utils/Engine/Character/PlayableCharacter";
import { Layers } from '../utils/Engine/constants';
  import MapManager from "../utils/Engine/MapManager/MapManager";
  import setCharacterControls from "../utils/game/controls/character";

  const map = new MapManager("map-container", "/assets/map.json");

  const character = new PlayableCharacter(map._element, {
    health: 100,
    strength: 100,
    intelligence: 100,
    walkingSpeed: 40,
    runningSpeed: 80,
  });

  character.setDebugMode(true, 'personaje')

  setCharacterControls(character);
</script>

<div id="map-container"></div>
