<script>
  import Element from "../utils/Element";
import { setUIControls } from '../utils/game/controls/ui.controller';

  const $fps = Element.get<HTMLDivElement>("#fps");
  const $startStopGameBtn = Element.get<HTMLButtonElement>(
    "#start-stop-game-btn"
  );

  setUIControls($fps, $startStopGameBtn)
</script>

<>
  <button id="start-stop-game-btn">Iniciar</button>
  <div id="fps" class="ui">FPS: 0</div>
</>

<style scoped>
  .ui {
    position: fixed;
    z-index: 100;
  }

  #fps {
    position: fixed;

    top: 30px;
    right: 30px;

    font-size: 1.5rem;
  }

  #start-stop-game-btn {
    position: fixed;
    z-index: 100;

    top: 30px;
    left: 30px;

    display: flex;
    text-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;

    background-color: orangered;
    border: 4px outset orangered;

    font-family: "Pixelify", sans-serif;
    font-size: 1.5rem;
  }

  #start-stop-game-btn:active {
    transform: scale(0.95);
  }
</style>
